.grid {
  grid-auto-rows: 1fr 1fr;
  font-size: 1.2rem;
}

.headerText {
  text-transform: uppercase;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
