.coverOutput {
  grid-row: 4;
  grid-column: 2/9;
}

.output {
  margin: 20px 0;
  text-align: center;
}

@media only screen and (max-width: 1350px) {
  .coverOutput {
    grid-row: 6;
    grid-column: 2/9;
    margin-top: auto;
  }
}
